<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro de materias</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <h1>Registro de materias</h1>
    <form action="" method="POST">
        <label for="nombreMateria">Nombre Materia</label>
        <input type="text" name="nombreMateria" id="nombreMateria">
        <br>
        <label for="dia">Día</label>
        <input type="text" name="dia" id="dia">
        <br>
        <label for="profesor">Profesor</label>
        <input type="text" name="profesor" id="profesor">
        <br>
        <label for="cupo">Cupo</label>
        <input type="number" name="cupo" id="cupo">
        <br>
        <label for="fechaInicio">Fecha de inicio</label>
        <input type="date" name="fechaInicio" id="fechaInicio">
        <br>
    </form>
    <input type="submit" value="guardar" id="guardar">
    <script src="/views/script.js"></script>
    
</body>
</html>